ul {
    margin: 0;
    padding: 0;
}

nav {
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 300;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    align-items: flex-start;
}

/* Media query to show/hide the hamburger menu */
@media (max-width: 767px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 300px;
        padding: 20px;
        z-index: 2;
        background-image: -moz-linear-gradient(to right, #ff66c4, #ffdd5a);
        background-image: linear-gradient(to right, #ff66c4, #ffdd5a);
    }

    .navbar li {
        margin-bottom: 2%;
    }

    .menu-icon {
        display: block;
        margin-left: -100%;
    }

    #menu-toggle {
        display: none;
    }

    #menu-toggle:checked+.menu-icon::after {
        content: '\2715';
    }

    #menu-toggle:checked+.menu-icon+.navbar {
        display: flex;
    }
}

#herosection {
    position: relative;
}

#heroimage {
    width: 100%;
    height: 80%;
    z-index: 1;
    margin: 0%;
}

#overlay {
    height: 180px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 36%;
    left: 5.5%;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background-color: rgba(233, 110, 110, 0.75);
    opacity: 90%;
    padding: 1% 2%;
    color: white;
}

#overlay h1 {
    font-weight: 700;
    margin-bottom: 0%;
    
}

#overlay p {
    margin-top: 0.5%;
    font-size: 20px;
    width: 75%;
}

#gradientdiv {
    width: 100%;
    margin: auto;
    margin-top: -1%;
    background-image: -moz-linear-gradient(to right, #ff66c4, #ffdd5a);
    background-image: linear-gradient(to right, #ff66c4, #ffdd5a);
    text-align: center;
    padding-top: 4%;
    height: 800px;
}

#order {
    font-family: sans-serif;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 45px;
    color: white;
    letter-spacing: 6px;
}

#foodcontainer {
    display: flex;
    justify-content: space-evenly;
    background-image: -moz-linear-gradient(to right, #ff66c4, #ffdd5a);
    background-image: linear-gradient(to right, #ff66c4, #ffdd5a);
}

.food {
    width: 15%;
    background-color: white;
    padding: 1.5%;
    padding-bottom: 0%;
    height: 380px;
    text-align: center;
    border-top-right-radius: 67px;
    border-bottom-left-radius: 77px;
}

.foodimgcontainer {
    width: 100%;
    height: 60%;
    margin: auto;
}

.food img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 54px;
    object-fit: cover;
}


/* #zigzag img{
    transform: rotate(180deg);
} */

#orderbtn {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5%;
    padding: 1% 4%;
    border-radius: 45px;
    background-color: #ffcbb8;
    border: 0px;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

@media (min-width: 1024px) and (max-width: 1250px) {
    .food {
        width: 20%;
    }

    #overlay {
        height: 150px;
    }

    #overlay h1 {
        font-size: 28px;
    }

    #overlay p {
        width: 80%;
        font-size: 18px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    #overlay {
        height: 130px;
        width: 40%;
    }

    #overlay h1 {
        font-size: 26px;
    }

    #overlay p {
        width: 100%;
        font-size: 16px;
    }

    .food {
        width: 25%;
    }

    .navmenu {
        font-size: 12px;
        letter-spacing: 2px;
    }
}

@media (max-width: 767px) {

    #overlay {
        height: 115px;
        width: 45%;
    }

    #overlay h1 {
        font-size: 19px;
    }

    #overlay p {
        width: 90%;
        font-size: 14px;
        margin-bottom: 1%;
    }

    #gradientdiv {
        height: 1650px;
    }

    #foodcontainer {
        flex-direction: column;
    }

    .food {
        width: 40%;
        margin-left: 5%;
        margin-bottom: 3%;
    }

    #zigzag {
        margin-left: 51%;
    }
}

@media (max-width: 567px) {

    .navbar {
        height: 250px;
    }


    #overlay {
        height: 115px;
        width: 50%;
    }

    #overlay h1 {
        font-size: 18px;
    }

    #overlay p {
        width: 100%;
        font-size: 14px;
        margin-bottom: 1%;
    }

    .food {
        width: 55%;
        margin: auto;
        margin-bottom: 5%;
        padding: 3%;
        padding-bottom: 0%;
        height: 380px;
    }

    .foodimgcontainer {
        height: 70%;
    }

    .food h1 {
        font-size: 20px;
    }

    .food p {
        margin-bottom: 0%;
    }

    #zigzag {
        margin-left: 18%;
    }
}

@media (max-width: 450px) {

    .navbar {
        height: 220px;
    }

    #overlay {
        top: 33%;
        height: 90px;
        width: 50%;
    }

    #overlay h1 {
        margin-top: 0%;
        font-size: 15px;
    }

    #overlay p {
        width: 100%;
        font-size: 10px;
        margin-bottom: 1%;
    }

    #heroimage {
        width: 100%;
    }


    #order {
        margin-top: 10%;
    }

    .food {
        width: 80%;
        height: 380px;
        margin-bottom: 12%;
    }

    #zigzag {
        margin-left: 8%;
    }
}